@using AbcShop.Entities
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ürün Listesi</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dtProducts" cellspacing="0">
                        <thead>
                            <tr>                             
                                <th>Ürün Adı</th>
                                <th>Kategori</th>                          
                                <th>Stok</th>
                                <th>Fiyat</th>
                                <th>Onay</th>
                                <th></th>
                            
                            </tr>
                        </thead>           
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                   
                                    <td>@item.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Stock</td>
                                    <td>@item.Price.ToString("c")</td>
                                    <td class="text-center">
                                        @if (item.IsApproved)
                                        {
                                            <i class="fas fa-check-circle text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-times-circle text-danger"></i>
                                        }
                                    </td>
                                    <td class="text-center">                                        
                                        <a href="@Url.Action("Details","Product",new { id = @item.Id })" class="btn btn-primary btn-sm">Detay</a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtProducts').DataTable({
                "language":
                {
                    "url":"//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });

    </script>
}