@using AbcShop.Entities
@model List<Category>

@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}

<div class="list-group">
    <a href="@Url.Action("ProductList","Home")" class="list-group-item list-group-item-action"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Tüm Kategoriler</a>

    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {              
                    
                <a class="list-group-item list-group-item-action active" href="@Url.Action("ProductList","Home",new {@id=item.Id })"><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Name</a>
             
            }
            else
            {
                                    
                <a class="list-group-item list-group-item-action"  href="@Url.Action("ProductList","Home",new {@id=item.Id })"><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Name</a>
               
            }
        }
        else
        {
                            
            <a href="@Url.Action("ProductList","Home",new {@id=item.Id })" class="list-group-item list-group-item-action"><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Name</a>
         
        }

    }

</div>
