@using AbcShop.WebApp.ViewModels.Account
@model CreateAddressViewModel

<div class="modal-content">
    @using (Html.BeginForm("CreateAddress", "Account", FormMethod.Post))
    {
        <div class="modal-header">
            <h4 class="modal-title" id="newModalTitle">Yeni Adres</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = $"{Html.DisplayNameFor(x => x.Title)}" })
                @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextAreaFor(x => x.AddressLine, new { @class = "form-control", @rows = "3", @placeholder = $"{Html.DisplayNameFor(x => x.AddressLine)}" })
                @Html.ValidationMessageFor(x => x.AddressLine, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control", @placeholder = $"{Html.DisplayNameFor(x => x.PostCode)}" })
                @Html.ValidationMessageFor(x => x.PostCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", @placeholder = $"{Html.DisplayNameFor(x => x.MobilePhone)}" })
                @Html.ValidationMessageFor(x => x.MobilePhone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.DropDownListFor(x => x.CityId, (SelectList)ViewBag.CityId, "Şehir", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CityId, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <span class="fa fa-close mr-2"></span>Kapat
            </button>
            <button type="submit" class="btn btn-success">
                <span class="fa fa-save mr-2"></span>Kaydet
            </button>
        </div>
    }

</div>
