@using AbcShop.WebApp.ViewModels.Account
@model OrderDetailsViewModel

@{
    ViewBag.Title = "OrderDetails";
}
<!-- content begin -->
<style>
    #verticle {
        width: 4px;
        height: 200px;
        background-color: cornflowerblue;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Sipariş Detay</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group row">
            @Html.LabelFor(x => x.OrderNumber, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.OrderNumber, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.OrderState, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.OrderState, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.OrderDate, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.OrderDate, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Total, new { @class = "text-danger col-md-4" })
            <input type="text" readonly class="col-md-8 form-control" value="@Model.Total.ToString("c")" />
        </div>

    </div>

    <div class="col-md-2 ">
    </div>

    <div class="col-md-5">
        <div class="form-group row">
            @Html.LabelFor(x => x.City, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.City, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.AddressLine, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.AddressLine, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.MobilePhone, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.MobilePhone, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PostCode, new { @class = "text-danger col-md-4" })
            @Html.TextBoxFor(x => x.PostCode, new { @class = "col-md-8 form-control", @readonly = "" })
        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h3>Ürünler</h3>        
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <th>Birim Fiyat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderLines)
                {
                    <tr>
                        <td>
                            <img style="height:50px;"src="~/Upload/Images/Product/@item.Product.MainImage" />
                        </td>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("c")</td>
                        <td>
                            <a href="@Url.Action("ProductDetails","Home",new {@id=item.ProductId })" target="_blank" class="btn btn-info btn-sm">İncele</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>